stages:
    - build
    - test

.script: &build_script
    build:
        stage: build
        script:
            - echo "Building"
            - echo "to be done"
            - mkdir build
            - touch build/b.txt


test:
    stage: test
    script:
        - echo "Testing"
        - echo "to be done"
        - cat build/b.txt