stages:
    - build
    - test

build:
    stage: build
    script:
        - echo "Building"
        - echo "to be done"
        - mkdir build
        - touch build/b.txt
    artifacts:
        - build/

test:
    stage: test
    script:
        - echo "Testing"
        - echo "to be done"
        - cat build/b.txt