build-essential 
pkg-config 
python-dev 
python-six 
cython 
python-numpy 
coinor-libipopt1v5 
coinor-libipopt-dev 
git 
cmake 
librdkafka-dev 
doxygen 
libboost-all-dev 
libssl-dev 
libffi-dev 
libpthread-stubs0-dev 
software-properties-common 
vim
gcc-7 
g++-7 
g++
wget
systemd
zookeeperd
redis-server
